@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
// @include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px;
    font-family: 'Roboto Slab', serif;
    background-color: $body-bg;
    font-size: 18px;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: $footer-bg;
    color: $footer-fg;
    border-top: solid 3px $body-link-fg;
    padding-top: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: $body-link-fg;
    font-weight: 300;
}
h1 {
    font-size: 2.2rem;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $brand-bg;
}
code, pre, tt, kbd {
    font-family: 'Inconsolata', sans-serif;
    overflow: auto;
    font-size: 16px;
    color: #222;
}
tt.literal {
    background-color: lighten(yellow, 30%);
    font-weight: bold;
}
blockquote, blockquote p {
    color: #7a7a7a;
}
.site-header {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5em;
    font-family: 'Roboto', sans-serif;
}
.site-menu a.button, .site-menu a.button:visited {
    background: $brand-bg-light !important;
}
.site-menu a.button:hover, .site-menu a.button:focus {
    background: $brand-bg-dark !important;
}
.site-info {
    font-size: 11px;
    color: cadetblue;
    padding: 5px;
}
.site-info a, .site-info a:visited {
    color: skyblue;
}
.site-info a:hover {
    text-decoration: underline;
}

.brand {
    white-space: nowrap;
    font-style: italic;
    font-size: 1.9em;
    margin: 0;
    padding: 0.35em 0 0;
}
.brand-secondary {
    color: lighten($brand-bg, 10%);
}
.preamble {
    margin-bottom: 1.1rem;
}
.blog-intro, .category-header {
}
.subheader, .preamble blockquote {
    color: $brand-bg-light !important;
}
.preamble blockquote {
    border-color: $brand-bg-lighter;
    border-width: 2px;
}

.breadcrumbs {
    margin-bottom: 1.75em;
}
.breadcrumbs > li > a, .breadcrumbs > li > a:visited {
    color: $brand-bg;
}
.breadcrumbs > li > a:hover, .breadcrumbs > li > a:focus {
    color: darken($brand-bg, 10%) !important;
}

/* vcard */

.vanity {
    background-color: $nav-bg;
    padding: 0 12px;
    margin-bottom: 20px;
    border-bottom: solid 4px $body-link-fg;
}
.vanity .brand {
    font-size: 2.0em;
}
.vanity .brand > a, .vanity .brand > a:hover, .vanity .brand > a:active {
    color: crimson;
    text-decoration: none;
}
.vanity .brand-secondary {
    color: #b9bcb8;
}
.vanity .thumbnail {
    border: 0;
    outline: 0;
    margin-bottom: 0;
    height: 120px;
    float: right;
}
.vanity .thumbnail:hover {
    border: 0;
    outline: 0;
}
.vcard {
    color: #fff;
    border-radius: 3px;
    font-family: 'Roboto', serif;
}
.vcard .desc {
    color: $nav-fg;
    white-space: nowrap;
    font-weight: normal;
    font-style: italic;
    font-size: 0.9em;
    padding-left: 8px;
    margin-bottom: 0;
}

.vcard > .inner {
}

.vcard .menu.linkto {
}
.vcard .menu.linkto > li > a, .vcard .menu.linkto > li > a:visited {
    color: $nav-fg;
    font-size: 26px;
    padding: 0.2em 0.4em 0.3em;
}
.vcard .menu.linkto > li > a:hover {
    color: #efefef;
}
.vcard .neon-blink {
    font-size: 36px;
}

.button.canvas-toggle {
    background: transparent;
    font-size: 1.4em;
}
/*********/

.site-content {
    background-color: $body-text-bg;
    padding-top: 0.5em;
    padding-bottom: 4.5em;
    font-size: 16px;

}
.site-content p {
    font-size: 16px;
    margin-bottom: 0.3rem;
}
.site-content a {
}

.site-content a:hover {
    text-decoration: underline;
}

article {
    font-weight: 400;
}

.meta {
    font-size: 14px;
    font-weight: normal;
    color: #8f8f8f;
    margin: 0;
}
blockquote.bigstyle {
    border: 0;
    margin-bottom: 8px;
    padding-top: 0;
    text-align: center;
    font-size: 1.3em;
}
blockquote.bigstyle cite {
    text-align: right;
}

.frontispiece p {
    color: white;
    background: rgba(30, 30, 30, 0.6);
    padding: 10px;
}

.article-list {
    width: 100%;
    margin-top: 0.8em;
}

/* article list */
.article-list > li {
    padding-bottom: 0;
    margin-bottom: 0.5rem;
    border-bottom: solid 1px lighten($brand-bg, 50%);
}
.article-list > li .info-title {
    font-size: 22px;
    margin-bottom: 2px;
    font-weight: 400;
    border: 0;
}
.article-list > li .info-title a {
}
.article-list > li .info-title a:hover {
    text-decoration: none;
    color: #222222;
}

.article-list > li  .info-meta {
    margin-bottom: 0;
    border-top: 0;
    padding-top: 0;
    padding-top: 10px;
}

/* article meta */
.info-meta, .info-meta a {
    font-size: 14px;
}
.info-meta span {
    display: inline !important; /* hide-for-small inherits block display */
    font-weight: normal;
    color: rgb(175, 175, 175);
}

.info-meta a {
    font-style: italic;
}

.info-summary p {
    line-height: 1.1;
    margin-bottom: 4px;
    color: #797979;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

.info-meta h1, .info-meta h2, .info-meta h3, .info-meta h4, .info-meta h5, .info-meta h6, .info-meta a {
    font-family: 'Roboto', sans-serif;
}
.dotted { border-bottom: dotted 1px #dedede;}

.article-header, .article-footer {
    margin-bottom: 1.1rem;
}
.article-header {
    border-bottom: solid 1px $body-link-fg;
}
.article-header a:hover {
    text-decoration: none;
}
.article-date {
    color: #7e7e7e;
    padding: 3px 5px;
    font-size: 90%;
}
.article-content {
    margin-bottom: 26px;
}
.article-footer {
}
.article-title {
    margin-bottom: 0;
}
.article-meta {
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}
.article-meta a, .article-meta span {
    margin-right: 0.5rem;
}
.article-footer > .nextprev {
    margin-top: 30px;
}
    
    
.article-content img {
    margin-bottom: 1em;
}
.article-content p.attribution {
    text-align: right;
}
.article-content blockquote {
    border: 0;
}
.article-content blockquote p {
}
.article-content h2 {
    margin-top: 0.9rem;
}
.article-tags {
    margin-top: 2em;
}

/* footer */

.footer {
}

.footer {
  h6 {
    color: $footer-fg;
    font-size: .9em;
    font-weight: 300;
  }
  p {
    font-weight: 300;
    font-size: .9em;
    color: $footer-fg;
  }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}


.highlight {
    font-family:"Lucida Console", Monaco, monospace;
    background-color: $code-bg;
    color:#002b36;
    white-space:nowrap;
    line-height:1.2em;
    border:1px solid #ded8d5;
    border-radius: 4px;
    padding:4px 0px 4px 24px;
    margin: 20px 0;

}
.highlight pre {
    padding: 8px 0;
}

.highlight, .highlight pre {
    overflow-x:auto;
    overflow-y:hidden;
    font-size: 14px;
}

/* pygments code styles */
@import 'github';

