{% extends "base.html" %}

{% block content %}
<h3>About</h3>
<p>
    The website of Gerard Flanagan, a software engineer in Belfast, Northern Ireland.
</p>

<h3>Tags</h3>
<p>
    <ul>
        <li>Fullstack Web Developer</li>
        <li>Python</li>
        <li>Django</li>
        <li>Javascript</li>
        <li>DevOps</li>
    </ul>
</p>

<h3>Code</h3>
<p>
    <a href="https://github.com/averagehuman">github/averagehuman</a>
</p>


<h3>Contact</h3>
<p>
    <a href="mailto:cyclebelfast@gmail.com">cyclebelfast@gmail.com</a>
</p>

{% endblock content %}
