{% extends "base.html" %}

{% block title %}{{ article.title|striptags }}{% endblock %}
{% block meta_description %}{% if article.description %}{{ article.description|striptags }}{% else %}{{ super() }}{% endif %}{% endblock %}
{% block meta_keywords %}{% for tag in article.tags %}{{ tag | escape }},{% endfor %}{{ article.category | escape }}{% endblock %}
{% block extrahead %}
<link rel="canonical" href="{{SITEURL}}/{{article.url}}" />
<meta property="og:title" content="Gerard Flanagan Developer Blog Front Page" />
{% endblock %}


{% block menu_buttons %}
    {% if article.prev_article %}
        <a class="button" href="{{ SITEURL }}/{{article.prev_article.url}}" title="{{article.prev_article.title|striptags}}"><i class="fa fa-arrow-left"></i></a>
    {% endif %}
    {% if article.next_article %}
        <a class="button" href="{{ SITEURL }}/{{article.next_article.url}}" title="{{article.next_article.title|striptags}}"><i class="fa fa-arrow-right"></i></a>
    {% endif %}
{% endblock %}

{% block content %}
<article>
    <header class="article-header">
        <span class="article-date">{{ article.date.strftime('%-d %B %Y') }}</span>
        <h1 class="article-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title}}</a></h1>
    </header>

    <div class="article-content">
    {{ article.content }}
    </div>

    <section class="article-footer">
    <div class="row column article-meta">
    {% if article.category %}
    <small><i class="fa fa-folder-open-o"></i> <a href="{{ SITEURL }}/{{article.category.url}}">{{ article.category }}</a></small>
    {% endif %}
    {% if article.tags %}
        {% for tag in article.tags %}
        <small><i class="fa fa-tag"></i> <a class="" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} </a> </small>
        {% endfor %}
    {% endif %}
    </div>
    <div class="row nextprev">
        <div class="small-6 columns">
            {% if article.prev_article %}
                <a href="{{ SITEURL }}/{{article.prev_article.url}}" title="{{article.prev_article.title|striptags}}"><i class="fa fa-arrow-left"></i> {{article.prev_article.title|striptags}}</a>
            {% endif %}
        </div>
        <div class="small-6 columns" style="text-align:right">
            {% if article.next_article %}
                <a href="{{ SITEURL }}/{{article.next_article.url}}" title="{{article.next_article.title|striptags}}">{{article.next_article.title|striptags}} <i class="fa fa-arrow-right"></i></a>
            {% endif %}
        </div>
    </div>
    </section>

    {% if DISQUS_SITENAME and SITEURL and article.status != "draft" %}
	<h4>Comments</h4>
    {% include 'disqus_script.html' %}
    {% endif %}
</article>
{% endblock %}
