<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Gerard Flanagan" />
    <meta name="description" content="{% block meta_description %}Gerard Flanagan Technical Blog. Web Development. Software. That kind of thing.{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}Gerard Flanagan,Blog,Web Development,Software,Python,Django,Javascript,Belfast,Northern Ireland,UK{% endblock %}" />
    <meta name="content-language" content="en" />
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic|Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ SITEURL }}/assets/css/app.css" />
    {% block extrahead %}{% endblock %}
</head>

<body>

    {% block siteheader %}
    <div class="vanity">
        <div class="inner">
            <div class="row small-collapse medium-uncollapse">
                <div class="small-12 medium-6 columns">
                    <div class="vcard">
                        <h1 class="brand text-left"><a href="/">*args<span class="brand-secondary"> **kwargs</span></a></h1>
                        <h6 class="desc">Web Development Odds & Ends</h6>
                    </div>
                </div>
                <div class="hide-for-small-only medium-5 columns">
                    <div class="front-menu">
                        <div class="button-group">
                        {% block sitemenu %}
                        <a class="button{% if page_name == 'index' or article %} active{% endif %}" href="{{ SITEURL }}/">Blog</a>
                        <a class="button{% if page and page.slug == 'about' %} active{% endif %}" href="{{ SITEURL }}/about">About</a>
                        {% endblock %}
                        </div>
                    </div>
                    <!--
                    <div class="pic">
                        <img class="thumbnail" src="/assets/img/vanity.gif" alt="Fritz Lang Metropolis Gif" />
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    {% endblock %}


    <!-- Main Page Content and Sidebar -->
    <div class="site-content">
        {% block document %}
        <div class="row column">
            {% block preamble %}
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
    </div>
    <!-- End Main -->

    <!-- Footer -->
    <footer>
        <div class="row footer">
            <div class="small-5 columns">
                <h6>&copy; Gerard Flanagan 2016. All Rights Reserved.</h6>
            </div>
            <div class="small-7 columns">
                <ul class="menu linkto">
                    <li><a href="https://github.com/averagehuman"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/gmflanagan"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="{{ SITEURL }}/feeds/all.atom.xml"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

<script type="text/javascript" src="{{SITEURL}}/assets/js/app.js"></script>
</body>
</html>
